.calcbody{
    height: 310px;
    width: 230px;
    display: grid;
    padding:2px;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid grid-template-rows: 2fr repeat(5,1fr);
    /* grid-gap:3px; */
    position:absolute;
    left:40%;
    top:30%;
    /* border:0px solid black; */
    border-radius:8px;
}

.buttons{
    border:1px solid rgb(87, 85, 90);
    border-width: thin;
    padding: 0.3rem;
    padding-top: 0.5rem;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    /* vertical-align: ; */
    font-size: 1.5rem;
    background-color: rgb(134, 135, 134) ;
}
.buttons:active{
    background-color: rgb(190, 190, 190) ;

}
/* .input-bar{ */
    /* grid-colu; */
    /* background-color: grey; */
    /* width:100%; */
/* } */
#screen{
    width:100.75%;
    height: 101.6%;
    /* margin-top:4px; */
    margin: 0px;
    font-size: 2.5rem;
    background-color: grey;
    border-top-right-radius:8px;
    border-top-left-radius:8px;
    text-align: right;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px 15px;
     /* margin: 8px 0; */
    box-sizing: border-box;
    /* grid-row:  ; */

}
.input-bar{
    grid-column: 1/5;
    grid-row: 1/6;
}
#equal-button{
    border-bottom-right-radius: 8px;
}
#zero-button{
    grid-column: 1/3;
    border-bottom-left-radius: 8px;
}
.op-right{
    background-color: rgba(255,166,0,1);

}
.op-right:active{
    background-color: rgb(255, 189, 67);

}


.op-top{
    background-color: rgba(66, 66, 66,0.8);
}
.op-top:active{
    background-color: rgba(95, 94, 94, 0.8);

}

